* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root{
    --imagen-fondo:url('../img/plana.jpeg');
}

body {
    background:var(--imagen-fondo) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    color: #222; /* Color del texto del título */
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    grid-area: 'titulo';
    grid-column: span 2;
    align-items: center;
}
h2{
    font-size: calc(8px + 1vw);
}
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    'titulo titulo'
    'form forma'
    'resultado forma';
    justify-items: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 500px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(30px);
}

.containerFormFiguras {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    grid-area: form;
}

.formFiguras {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.seccion_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    text-align: center;
}

select {
    width: 100%;
    padding: 12px 15px;
    border: none;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    font-size: 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

select:hover {
    box-shadow: 0 5px 15px rgba(77, 124, 255, 0.3);
}

select:focus {
    outline: none;
    border: 2px solid #4e54c8; /* Mantiene el color de enfoque */
}

.formInputDatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}
.formInputDatos div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}  

.labelDato {
    font-size: 1rem;
    color: #111; /* Color del texto de las etiquetas */
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    text-transform: capitalize;
}

.inputDato {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    font-size: 1rem;
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.inputDato:focus {
    outline: none;
    box-shadow: 0 2px 10px rgba(77, 124, 255, 0.3);
    border: 2px solid #4e54c8; /* Mantiene el color de enfoque */
}

.botonCalcular {
    padding: 15px 30px;
    background: linear-gradient(45deg, #ff5858, #f09819); /* Color del botón */
    border: none;
    color: white;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 8px 25px rgba(255, 88, 88, 0.5);
    transition: background 0.3s ease, transform 0.2s ease;
}

.botonCalcular:hover {
    background: linear-gradient(45deg, #ff7e5f, #feb47b); /* Color del botón al pasar el mouse */
    transform: translateY(-2px);
    box-shadow: 0px 10px 30px rgba(255, 88, 88, 0.7);
    transition: background 0.3s ease, transform 0.2s ease;
}

.botonCalcular:active {
    transform: translateY(1px);
}

.resultado {
    color: #333; /* Color del texto del resultado */
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
    grid-area: resultado;
}

option {
    text-transform: capitalize;
    font-size: 1rem;
    background-color: #ffffff;
}

/* estilos para las formas */
.forma-container {
    grid-area: forma;
}
